/* This is used to set all the base colors used within the site */
:root {
    --ff-primary-dark: #000000;
    --ff-primary-light: #323232;

    --clr-primary-200: #F3EED9;
    --clr-primary-400: #824936;

    --clr-neutral-100: #FFF;
    --clr-neutral-900: #222c2a;

    --ff-primary: 'Roboto', sans-serif;
    --ff-accent: 'Playfair Display', sans-serif;

    /* ASSETS USED ACROSS THE SITE */
    --ff-primary-bgImg: url(assets/bg.jpg);
    --icon-email: url(/awsAcademyStudentSiteTemplate/StaticSideBar/assets/icons8-mail-48.png);
    --icon-fb: url(/awsAcademyStudentSiteTemplate/StaticSideBar/assets/icons8-facebook-48.png);
    --icon-instagram: url(/awsAcademyStudentSiteTemplate/StaticSideBar/assets/icons8-instagram-48.png);
    --icon-linkedin: url(/awsAcademyStudentSiteTemplate/StaticSideBar/assets/icons8-linkedin-48.png);

    /* IMAGES USED ACROSS THE SITE */
    --ff-primary-me: url(/awsAcademyStudentSiteTemplate/StaticSideBar/img/20221120-AWS_Building_Blocks_Capture.PNG);

    /* FOOTER BACKGROUND MAP */
    --map-primary: url(https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.5350188156845!2d-0.12992054858951052!3d51.50339977953466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604c56f3b61c7%3A0x9c97d4222fab0eb7!2s10%20Downing%20St%2C%20London%20SW1A%202AB!5e0!3m2!1sen!2suk!4v1671897719048!5m2!1sen!2suk);

    @import url();
}

@import "parallax.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-image: url(assets/bg.jpg);
    background-repeat: no-repeat;
    /* background-color: pink; */
    background-size: cover;
    font-family: var(--ff-accent);
    font-weight: 400;
    font-size: 1.3124rem;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2,
h3 {
    font-family: var(--ff-accent);
    font-weight: 900;
    line-height: 1; 
}

#wrapper {
    display: flex;
}

/* START OF SIDEBAR */
#sideBar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: auto;
    align-content: flex-start;
    background-color: var(--ff-primary-dark);
}

.devImg img {
    object-fit: contain;
    align-items: center;
    width: 100%;
    height: auto;
}

#home {
    height: 100vh;
}

/* SOCIAL MEDIA SECTION */
.socMed {
    margin: 10px 0px;
    border: 0px;
    padding: 2px;
    size-adjust: 80%;
}

#sideBar .mainNav {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    line-height: 2.5;
}

a:link {
    color: blue;
}

a:hover {
    color: hotpink;
    text-decoration: overline underline;
    font-size: 25px;
    transition-duration: 1s;
}

a:active {
    color: yellow;
}

a:visited {
    color: green;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
}

.copyright {
    position: fixed;
    object-fit: scale-down;
    left: auto;
    right: auto;
    bottom: 0;
    color: white;
    text-align: center;
}

/* END OF SIDEBAR */

/* START OF CONTENT */

.content {
    flex-shrink: auto;
    margin-left: 20%;
    position: static;
    display: flex;
    flex-direction: column;
}

.content #home h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* ABOUT SECTION */

.about {
    padding: 25px 5px;
}

.section-title h2::after {
    content: "";
    position: relative;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}

::after {
    box-sizing: border-box;
}

.row {
    display: flex;
    width: 100%;
    height: auto;
}

.col-left,
.col-right {
    margin: 0;
    padding: 0;
}



.content h2 {
    text-align: left;
}

.img-fluid {
    padding-top: 0;
    margin: 15px auto;
    display: block;
    width: 300px;
}

/* FOOTER */

/* .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
} */

/* END OF CONTENT */





/* #header {
    color: var(--clr-primary-200);
    background-color: var(--ff-primary-dark);
    height: 800px;
    padding: 0.5rem;
    margin: 0px;
    opacity: 50%;
    z-index: 5;
}

#pic {
    position: absolute;
    z-index: -1;
    opacity: 20%;
    height: auto;
}

.headerNav {
    text-decoration: none;
    z-index: 6;
} */

.footer {
    text-align: center;
}